body{
    background-color: rgb(0,0,127);
    color: white;
    padding: 20px;
    font-family: San-Serif;
    font-size: 20px;
    text-align: center;
  }
  h1,p{
    text-align: center;
    margin-top: 0;
    height:20px;
  }
  .container{
    border: 2px solid cyan;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
  }
  .container input[type="text"],
  .container input[type="number"],
  .container input[type="email"]{
    width: 25%;
    height: 25px;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
  }

  .container select{
    width: 25%;
    height: 25px;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
  }

  .container option{
    background-color: cyan;
  }

  .container textarea{
    width: 25%;
    height: 75px;
    resize: none;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
  }

  .container input[type="submit"]{
    width: 20%;
    color: white;
    background-color: rgb(0,0,127);
    border: 2px solid cyan;
    border-radius: 5px;
    font-size:20px;
  }

  .container p{
    font-size: 30px;
    padding-top: 30px;
  }
  
  .sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
  }

  .sub-container input[type="radio"],
  .sub-container input[type="checkbox"]{
    width: 15px;
  }

  .last{
    text-align: center;
    border: rgb(0,0,127);
    height: 0px;
  }
  p:last-of-type{
    font-size: 15px;
    height: 30px;
  
  }
  
  footer{
    font-size: 15px;
    padding:10px;
  }
